<% if orders_list.empty? %>
  <p><%= I18n.t("helpers.models.order.empty_order_list") %></p>
<% else %>
  <% orders_list.each do |order| %>
    <dl>
      <dt><%= link_to order.code, client_order_path(order.id) %></dt>
      <dd><%= order.event_date.strftime('%d/%m/%Y') %></dd>
    </dl>
  <% end %>
<% end %>