.main-title {
    font-family: var(--poetsen-one);
    letter-spacing: 0.1rem;
}

.nav-background {
    height: 5rem;
    box-shadow: 0 0.1rem 0.9rem -0.1rem var(--black);
    justify-content: center;
}

.logged-links {
    gap: 2rem;
    align-items: center;
}

.logged-link {
    width: 9rem;
}

.user-info{
    gap: 2rem;
}

.nav-content {
    width: 100%;
    margin: 0 5px;
    align-items: center;
    justify-content: center;
    gap: 20rem;
}

.session-link-container{
    width: 30rem;
}

.session-link {
    width: 6rem;
    font-weight: 600;
    font-size: 1.1rem;
}

#buffets{
    height: 15rem;
    overflow-y: scroll;
}