.main-title {
    font-family: var(--poetsen-one);
    letter-spacing: 0.1rem;
    margin-left: 2rem;
}

.nav-background {
    height: 5rem;
    box-shadow: 0 0.1rem 0.9rem -0.1rem var(--black);
}

.nav-content {
    margin: 0;
    gap: 20rem;
}

.align-center {
    align-items: center;
}

.create-session-links {
    justify-self: right;
    gap: 2rem
}

.search-links-container {
    gap: 40rem;
}

.user-info {
    gap: 2rem;
}

.user-area {
    align-items: center;
    gap: 10rem;
}

#buffets{
    height: 15rem;
    overflow-y: scroll;
}